- event pointer vs. enum:  ../src_plugins/hid_lesstif/xm_tree_table_widget.c:337:25: warning: expression which evaluates to zero treated as a null pointer constant of type 'XEvent *' (aka 'union _XEvent *') [-Wnon-literal-null-conversion]:  tp->event_data.event = ett_none;
                               ^~~~~~~~
