Source: pcb-rnd
Section: electronics
Priority: optional
Maintainer: Tibor Palinkas <pcb-rnd[removethis]@igor2.repo.hu>
Build-Depends: debhelper (>= 9), bison, flex, libgtkglext1-dev, tk8.5, libgd-dev, libdbus-1-dev, libmotif-dev, libxmu-dev, libxml-parser-perl, intltool, imagemagick, gerbv
Homepage: http://repo.hu/projects/pcb-rnd
Vcs-Svn: svn://repo.hu/pcb-rnd/trunk

Package: pcb-rnd
Architecture: any
Depends: ${misc:Depends}, pcb-rnd-core
Description: printed circuit board (pcb) design program - meta-package
 pcb-rnd is an interactive printed circuit board editor for the X11 window 
 system. pcb-rnd includes a rats nest feature, design rule checking, and can 
 provide industry standard RS-274-X (Gerber), NC drill, and centroid data 
 (X-Y data) output for use in the board fabrication and assembly process. 
 .
 pcb-rnd is load/save compatible with gEDA/PCB and kicad and offers various
 auxiliary import/export formats.

Package: pcb-rnd-core
Architecture: all
Replaces: pcb
Depends: ${misc:Depends}
Recommends: pcb-rnd-gtk
Description: printed circuit board (pcb) design program - core executable
 pcb-rnd is an interactive printed circuit board editor for the X11 window 
 system. pcb-rnd includes a rats nest feature, design rule checking, and can 
 provide industry standard RS-274-X (Gerber), NC drill, and centroid data 
 (X-Y data) output for use in the board fabrication and assembly process. 
 .
 This package contains the core program. Most functionality, including the
 GUI frontend, is in the corresponding plugin package.

Package: pcb-rnd-gtk
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, pcb-rnd-core
Description: printed circuit board (pcb) design program - GTK+ interface
 pcb-rnd is an interactive printed circuit board editor for the X11 window 
 system. pcb-rnd includes a rats nest feature, design rule checking, and can 
 provide industry standard RS-274-X (Gerber), NC drill, and centroid data 
 (X-Y data) output for use in the board fabrication and assembly process. 
 .
 This package contains the GTK+ user-interface for pcb-rnd.

Package: pcb-rnd-lesstif
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, pcb-rnd-core
Description: printed circuit board (pcb) design program - lesstif/motif interface
 pcb-rnd is an interactive printed circuit board editor for the X11 window 
 system. pcb-rnd includes a rats nest feature, design rule checking, and can 
 provide industry standard RS-274-X (Gerber), NC drill, and centroid data 
 (X-Y data) output for use in the board fabrication and assembly process. 
 .
 This package contains the Lesstif/Motif user-interface for pcb-rnd.

Package: pcb-rnd-autocrop
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, pcb-rnd-core
Description: printed circuit board (pcb) design program - autocrop feature
 pcb-rnd is a modular, interactive printed circuit board editor.
 .
 This package provides the autocrop feature that can resize the
 board to minimum around all the existing objects.

Package: pcb-rnd-autoplace
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, pcb-rnd-core
Description: printed circuit board (pcb) design program - autoplace feature
 pcb-rnd is a modular, interactive printed circuit board editor.
 .
 This package provides the autoplace feature used to place elements
 automatically and offers two different algorithms to do so.

Package: pcb-rnd-autoroute
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, pcb-rnd-core
Description: printed circuit board (pcb) design program - autoroute feature
 pcb-rnd is a modular, interactive printed circuit board editor.
 .
 This package provides the classic gEDA/pcb autorouter.

Package: pcb-rnd-diag
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, pcb-rnd-core
Description: printed circuit board (pcb) design program - diagnostic actions
 pcb-rnd is a modular, interactive printed circuit board editor.
 .
 This package provides actions for debugging/diagnostic purposes. This
 feature may be needed for reporting bugs.

Package: pcb-rnd-distalign
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, pcb-rnd-core
Description: printed circuit board (pcb) design program - distalign feature
 pcb-rnd is a modular, interactive printed circuit board editor.
 .
 This package provides actions for arranging elements in an array.

Package: pcb-rnd-distaligntext
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, pcb-rnd-core
Description: printed circuit board (pcb) design program - distaligntext feature
 pcb-rnd is a modular, interactive printed circuit board editor.
 .
 This package provides actions for arranging text objects in an array.

Package: pcb-rnd-djopt
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, pcb-rnd-core
Description: printed circuit board (pcb) design program - djopt feature
 pcb-rnd is a modular, interactive printed circuit board editor.
 .
 This package provides actions to cleane up (optimize) tracks.
 It is especially useful after autorouting.

Package: pcb-rnd-gcode
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, pcb-rnd-core
Description: printed circuit board (pcb) design program - gcode export
 pcb-rnd is a modular, interactive printed circuit board editor.
 .
 This package allows exporting the design to gcode, useful for CNC
 milling.

Package: pcb-rnd-gerber
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, pcb-rnd-core
Description: printed circuit board (pcb) design program - gerber export
 pcb-rnd is a modular, interactive printed circuit board editor.
 .
 This package allows exporting the design to gerber, accepted
 by most PCB fab houses.

Package: pcb-rnd-lpr
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, pcb-rnd-core
Description: printed circuit board (pcb) design program - lpr export
 pcb-rnd is a modular, interactive printed circuit board editor.
 .
 This package allows printing directly from the GUI, using lpr.

Package: pcb-rnd-nelma
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, pcb-rnd-core
Description: printed circuit board (pcb) design program - nelma export
 pcb-rnd is a modular, interactive printed circuit board editor.
 .
 This package allows exporting the design to nelma, for numerical
 capacitance calculation (via external tool)

Package: pcb-rnd-png
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, pcb-rnd-core
Description: printed circuit board (pcb) design program - bitmap export
 pcb-rnd is a modular, interactive printed circuit board editor.
 .
 This package allows exporting the design in various bitmap formats,
 including png and jpeg.

Package: pcb-rnd-svg
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, pcb-rnd-core
Description: printed circuit board (pcb) design program - SVG export
 pcb-rnd is a modular, interactive printed circuit board editor.
 .
 This package allows exporting the design in SVG, the Scalable Vector
 Graphics format. It is useful for publishing the design on the web.

Package: pcb-rnd-xy
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, pcb-rnd-core
Description: printed circuit board (pcb) design program - XY export
 pcb-rnd is a modular, interactive printed circuit board editor.
 .
 This package allows exporting the design in XY, suitable for
 pick&place machines.

Package: pcb-rnd-fontmode
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, pcb-rnd-core
Description: printed circuit board (pcb) design program - font editor
 pcb-rnd is a modular, interactive printed circuit board editor.
 .
 This package lets the user to turn the GUI into a PCB font editor.

Package: pcb-rnd-fp-wget
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, pcb-rnd-core
Description: printed circuit board (pcb) design program - web footprints
 pcb-rnd is a modular, interactive printed circuit board editor.
 .
 This package provides a wget based footprint accessor, which allows
 integrating web directories of footprints in the library. The
 only currently supported site is gedasymbols.org.

Package: pcb-rnd-edif
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, pcb-rnd-core
Description: printed circuit board (pcb) design program - EDIF netlist import
 pcb-rnd is a modular, interactive printed circuit board editor.
 .
 This package allows pcb-rnd to import netlists in the EDIF format.

Package: pcb-rnd-mincut
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, pcb-rnd-core
Description: printed circuit board (pcb) design program - mincut shorts
 pcb-rnd is a modular, interactive printed circuit board editor.
 .
 This package upgrades the indication of short circuits: instead of
 highlighting two random pins/pads, it tries to determine the minimal-cut
 that would resolve the short. In practice this means it makes a suggestion
 where to cut the networks to remove the short circuit.

Package: pcb-rnd-oldactions
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, pcb-rnd-core
Description: printed circuit board (pcb) design program - old actions
 pcb-rnd is a modular, interactive printed circuit board editor.
 .
 This package provides some old user actions. These are not used
 daily anymore, but some old actions scripts may still depend on them.

Package: pcb-rnd-polycombine
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, pcb-rnd-core
Description: printed circuit board (pcb) design program - combine polygons
 pcb-rnd is a modular, interactive printed circuit board editor.
 .
 This package provides actions to combine (merge) multiple polygons
 into a single, more complex polygon.

Package: pcb-rnd-propedit
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, pcb-rnd-core
Description: printed circuit board (pcb) design program - property editor
 pcb-rnd is a modular, interactive printed circuit board editor.
 .
 This package provides the property editor function for the GUI. The
 property editor collects all properties and attributes of all selected
 objects in a table and allows the user to change them.

Package: pcb-rnd-puller
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, pcb-rnd-core
Description: printed circuit board (pcb) design program - track puller
 pcb-rnd is a modular, interactive printed circuit board editor.
 .
 This package provides actions to "pull" tracks, minimizing their length.

Package: pcb-rnd-query
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, pcb-rnd-core
Description: printed circuit board (pcb) design program - query language
 pcb-rnd is a modular, interactive printed circuit board editor.
 .
 This package provides the query language used in the advanced search on
 the GUI.

Package: pcb-rnd-renumber
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, pcb-rnd-core
Description: printed circuit board (pcb) design program - element renumber
 pcb-rnd is a modular, interactive printed circuit board editor.
 .
 This package provides various actions to automatically renumber elements
 on the design. These actions change the refdes of some (or all) elements.

Package: pcb-rnd-report
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, pcb-rnd-core
Description: printed circuit board (pcb) design program - object report
 pcb-rnd is a modular, interactive printed circuit board editor.
 .
 This package provides the report action that displays basic information
 about design objects. Unlike propedit, report does not allow the user
 to manipulate any of the data reported.

Package: pcb-rnd-shand-cmd
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, pcb-rnd-core
Description: printed circuit board (pcb) design program - command shorthands
 pcb-rnd is a modular, interactive printed circuit board editor.
 .
 This package provides 1..2 character long shorthands for the most
 commonly used core commands.

Package: pcb-rnd-smartdisperse
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, pcb-rnd-core
Description: printed circuit board (pcb) design program - smart dispenser
 pcb-rnd is a modular, interactive printed circuit board editor.
 .
 This package implements a smart algorithm to disperse elements. It is
 useful after importing a new design from the schematics. It is an
 alternative to autplace.

Package: pcb-rnd-stroke
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, pcb-rnd-core, pcb-rnd-gtk
Description: printed circuit board (pcb) design program - gestures
 pcb-rnd is a modular, interactive printed circuit board editor.
 .
 This package implements mouse gestures using libstroke.

Package: pcb-rnd-teardrops
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, pcb-rnd-core, pcb-rnd-gtk
Description: printed circuit board (pcb) design program - teardrop pins
 pcb-rnd is a modular, interactive printed circuit board editor.
 .
 This package embeds each pin in a teardrop drawn from multiple arcs.
 May be useful for toner-transfer boards.

Package: pcb-rnd-vendordrill
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, pcb-rnd-core, pcb-rnd-gtk
Description: printed circuit board (pcb) design program - vendor maps
 pcb-rnd is a modular, interactive printed circuit board editor.
 .
 This package provides vendor drill mapping and vendor specific design
 rule application.


