#!/usr/bin/make -f
#                                          -*- makefile -*-
# debian/rules file for the Debian/GNU Linux pcb package
# Copyright 1997-99 by Hartmut Koptein <koptein@debian.org>
# Copyright 2016 by Tibor 'Igor2' Palinkas <pcb-rnd@igor2.repo.hu>

package = pcb-rnd

CONFIGURE_OPTS=--all=plugin --prefix=/usr --debug

%:
	dh $@

override_dh_auto_configure:
	./configure $(CONFIGURE_OPTS)

override_dh_auto_build:
	make

override_dh_auto_test:
#	dh_auto_test --builddirectory build_gtk
#	dh_auto_test --builddirectory build_lesstif

override_dh_auto_install:
	make install install_root=`pwd`/debian/tmp

override_dh_auto_clean:
	-make distclean

override_dh_install:
	dh_install

	# Set executable bit for pcb tools:
#	-[ ! -d debian/$(package)-gtk ] || chmod a+x debian/$(package)-gtk/usr/lib/pcb-rnd/plugins/hid_gtk.so

	# Remove empty dirs:
#	[ ! -d debian/$(package)-common ] || find debian/$(package)-common -type d -empty -delete

override_dh_fixperms:
	dh_fixperms -X usr/lib/pcb-rnd/plugins/
	# Fix permissions of a couple of example files:
#	-[ ! -d debian/$(package)-common ] || chmod -x debian/$(package)-common/usr/share/doc/$(package)-common/examples/LED.pcb
#	-[ ! -d debian/$(package)-common ] || chmod -x debian/$(package)-common/usr/share/doc/$(package)-common/examples/LED.net

override_dh_installexamples:
	dh_installexamples -XMakefile

override_dh_installchangelogs:
	dh_installchangelogs -p$(package)-core

override_dh_installdocs:
	# Only install docs in $(package)-core & link other packages' docs to
	# $(package)-core:
	dh_installdocs --link-doc=$(package)-core

override_dh_compress:
	# exclude example files from compression
	dh_compress -X.pcb -XLED
